global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # 정보를 수집할 서버 정보(http통신이 기본)
  - job_name: 'spring-boot-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['43.201.55.91:8080']  # Windows/Mac
#      - targets: ['host.docker.internal:8080']  # Windows/Mac
      # - targets: ['172.17.0.1:8080']  # Linux 사용시 이걸로 변경
    scrape_interval: 10s
